*.txt
.vscode
*.db
*.sqlite
*.db*
*.sqlite*

.env
.env.*
!.env.example

# Misc
.editorconfig
/.ideas
.prettierignore
.prettierrc
test.*
Makefile
/examples
install.sh
setup
turso-cli
/data
/libsql-data
